html {
    scroll-behavior: smooth;
}

.wrapper {
    padding: 0;
    margin: 0;

    height: 300vh;
}

body {
    height: 300vh;
}

#home {
    height: 100vh;
    width: 100%;
    background: url(../img/bg1.png);
    background-size: cover;
    background-position: 25% 0;
    position: relative;
}

/* NAVIGATION */

.nav__bar {
    background-color: rgba(249, 248, 251, .8);
    background-origin: border-box;
    padding: 0 10%;

}

.nav__main a.nav-link {
    color: black;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 576px) {
    /* animation */

    .nav__main a.nav-link:hover {
        color: #666;
    }

    .nav__main ul li a {
        position: relative;
        overflow: hidden;
    }

    .nav__main ul li a::after {
        content: "";
        display: block;
        position: absolute;
        width: 80%;
        height: 3px;
        background-color: #ff6033;
        top: 20%;
        left: -80%;
        transition: .2s;
    }

    .nav__main ul li a:hover::after {
        /* showing orange bar */
        left: 50%;
        transform: translateX(-50%);
    }
}

.togglerbtn {
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.togglerbtn i {
    display: block;
    transform: scale(1.5);
}

/* CONTENT IN HEADER */
.header__content {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding-top: 30vh;
}

.header__content>* {
    margin-top: 5px;
}

.header__content>h1 {
    font-size: 3em;
    text-align: center;
}


.header__content>button {
    background-color: #ff6033;
    border: none;
    padding: 10px 25px;
    box-shadow: 0 0 3px black;
    cursor: pointer;
    color: white;
    border-radius: 0;
    outline: none;
    display: block;
    margin: 0 auto;
}

@media (min-width: 576px) {
    #home {
        background: url(../img/bg1big.png);
        background-size: cover;
        background-position: center;
    }

    .header__content {
        position: absolute;
        left: 25%;
    }

    .header__content>h1 {
        text-align: left;
    }

    .header__content>button {
        margin: 0;
    }
}

/* ABOUT */
#about {
    background-image: url(../img/bgAbout.png);
    padding: 50px 0;
    width: 100%;
}

#about>div {
    margin: 0;
    padding: 0;
}

.about__content {
    color: #fff;
}

.about__content>h1 {
    font-size: 4em;
}

.about__content>p {
    font-size: 1em;
    font-weight: 100;
}

/* SERVIECES */
#servieces {
    background-color: rgb(112, 191, 255);
}

#servieces>.row {
    width: 100%;
    padding: 50px 0;
    margin: 0;

    display: flex;
    justify-content: center
}

.servieces__buttons {
    padding-top: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.servieces__buttons button {
    display: flex;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 0;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.75);

    align-items: stretch;
    justify-content: center;

    margin-top: 15px;
}

.servieces__buttons span {
    display: flex;
    flex-basis: 100%;
    padding: 0 10px;
    height: 70px;
    align-self: center;
    font-weight: bold;

    align-items: center;
    justify-content: center;
}

.servieces__buttons img {
    display: block;
    border-left: solid gray 1px;
    padding: 20px 20px;
    width: 35px;
    height: 35px;
    box-sizing: content-box;

    align-self: stretch;
}

.servieces__img {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

.servieces__img img {
    width: 80%;
}


.servieces__img h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    color: white;
    font-size: 4em;
    width: 100%;
    text-align: center;
}